$tp-text: #0000;
$bg-primary: #13548D;
$tp-main: #13548D;
$bg-success:#000000;
$bg-warn: #DC0808;
$tp-primary: #13548D;
$tp-secondary: #428ec2;
$tp-facebook: #1877f2;
$tp-google: #df7f78;
$tp-primary-50: #13548D;
$tp-sea: #394aa5;
$tp-accent: #ff4081;
$tp-warn: #fc1505;
$tp-amber: #ff8f00;
$tp-light-green-600: #7cb342;
$tp-grey-50: #fafafa;
$tp-grey-100: #f5f5f5;
$tp-grey-200: #eee;
$tp-grey-300: #e0e0e0;
$tp-grey-400: #bdbdbd;
$tp-grey-500: #9e9e9e;
$tp-grey-600: #757575;
$tp-blue-gray-20: #f5f7f8;
$tp-blue-gray-100: #cfd8dc;
$tp-blue-gray-300: #90a4ae;
$tp-blue-gray-400: #78909c;
$tp-blue-gray-600: #546e7a;
$tp-amber-800: #ff8f00;
$tp-yellow-500: #ffeb3b;
$tp-orange-900: #e65100;
$tp-red-600: #e53935;
$tp-light-blue-600: #039be5;
$tp-old-navy-50: #c5cad9;
$tp-old-navy-100: #a5b0c4;
$tp-old-navy-200: #8a9bb2;
$tp-old-navy-300: #657992;
$tp-old-navy-400: #4c5f77;
$tp-old-navy-500: #37475d;
$tp-old-navy-600: #2e3a4d;
$tp-old-navy-700: #262f3d;
$tp-old-navy-800: #ced6df;
$tp-old-navy-900: #121820;
$tp-old-navy-a100: #8298bd;
$tp-old-navy-a200: #6883ac;
$tp-old-navy-a400: #3b577d;
$tp-old-navy-a700: #042a4a;
$tp-navy-10: #f6f7f9;
$tp-navy-20: #e5eaf0;
$tp-navy-30: #d4dce7;
$tp-navy-40: #c3cfdd;
$tp-navy-50: #b2c1d4;
$tp-navy-100: #8ea1b9;
$tp-navy-200: #6b829d;
$tp-navy-300: #476282;
$tp-navy-400: #385574;
$tp-navy-500: #2a4865;
$tp-navy-600: #1b3a57;
$tp-navy-700: #0c2d48;
$tp-navy-800: #051e34;
$tp-navy-900: #031525;
$tp-navy: #1b3a57;
$tp-purple-accent-700: #a0f;
$tp-deep-purple-50: #ede7f6;
$tp-deep-purple-500: #673ab7;
$tp-canvas: #eceff1;
$tp-light: #ffffff;
$tp-black: #000000;
$tp-main: #13548D;
$tp-main-33: #0071bc33;
$tp-pluse-btn:rgba(215, 17, 73, 0);
